# **Testing games with evals**

In [25]:
# Import dependencies
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sys
sys.path.append('../Core')

# Import chess classes
from metadata import MetaData
from movedata import MoveData

# Set plot style
sns.set_style('whitegrid')
plt.rcParams['figure.figsize'] = (12, 6)

## 1. Load game metadata

In [26]:
pgn_path = '../Data/lichess_sample.pgn'
metadata = MetaData(pgn_path)
df_meta = metadata.to_dataframe()

print(f"Total games loaded: {len(df_meta)}")
print(f"\nColumns available: {list(df_meta.columns)}")

Total games loaded: 1

Columns available: ['Event', 'Site', 'Date', 'Round', 'White', 'Black', 'Result', 'UTCDate', 'UTCTime', 'WhiteElo', 'BlackElo', 'WhiteRatingDiff', 'BlackRatingDiff', 'WhiteTitle', 'ECO', 'Opening', 'TimeControl', 'Termination']

,Event,Site,Date,Round,White,Black,Result,UTCDate,UTCTime,WhiteElo,BlackElo,WhiteRatingDiff,BlackRatingDiff,WhiteTitle,ECO,Opening,TimeControl,Termination
Game_ID,,,,,,,,,,,,,,,,,,
1,Rated Bullet tournament https://lichess.org/to...,https://lichess.org/PpwPOZMq,2017.04.01,-,Abbot,Costello,0-1,2017.04.01,11:32:01,2100,2000,-4,+1,FM,B30,Sicilian Defense: Old Sicilian,300+0,Time forfeit

## 2. Explore Metadata

In [27]:
# Display basic dataframe quality
print("Dataset Info:")
print(df_meta.info())

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, 1 to 1
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Event            1 non-null      object
 1   Site             1 non-null      object
 2   Date             1 non-null      object
 3   Round            1 non-null      object
 4   White            1 non-null      object
 5   Black            1 non-null      object
 6   Result           1 non-null      object
 7   UTCDate          1 non-null      object
 8   UTCTime          1 non-null      object
 9   WhiteElo         1 non-null      object
 10  BlackElo         1 non-null      object
 11  WhiteRatingDiff  1 non-null      object
 12  BlackRatingDiff  1 non-null      object
 13  WhiteTitle       1 non-null      object
 14  ECO              1 non-null      object
 15  Opening          1 non-null      object
 16  TimeControl      1 non-null      object
 17  Termination      1 non-null      object
dtypes: object(18)
memory usage: 152.0+ bytes
None

## 3. Load move data

In [28]:
# Load move data
move_data = MoveData(pgn_path)
moves_dict = move_data.to_dict()

print(f"Moves extracted for {len(moves_dict)} games")

# Display moves from first game
if len(moves_dict) > 0:
    print("\nSample moves from Game 1:")
    first_game_moves = move_data.get_game_moves(1)
    display(first_game_moves)

Moves extracted for 1 games

Sample moves from Game 1:

,white_move,white_time,white_eval,black_move,black_time,black_eval
move_number,,,,,,
1,e4,0:00:30,0.17,c5,0:00:30,0.19
2,Nf3,0:00:29,0.25,Nc6,0:00:30,0.33
3,Bc4,0:00:28,-0.13,e6,0:00:30,-0.04
4,c3,0:00:27,-0.40,b5,0:00:30,1.18
5,Bb3,0:00:26,0.21,c4,0:00:29,0.32
6,Bc2,0:00:25,0.20,a5,0:00:29,0.60
7,d4,0:00:23,0.29,cxd3,0:00:27,0.60
8,Qxd3,0:00:22,0.12,Nf6,0:00:26,0.52
9,e5,0:00:21,0.39,Nd5,0:00:25,0.45
10,Bg5,0:00:18,-0.44,Qc7,0:00:23,-0.12
11,Nbd2,0:00:14,-3.15,h6,0:00:23,-2.99
12,Bh4,0:00:11,-3.00,Ba6,0:00:23,-0.12
13,b3,0:00:02,-4.14,Nf4,0:00:21,-2.73
14,NaN,NaN,NaN,NaN,NaN,NaN

## Test PGN without clock or eval values

In [29]:
basic_pgn_path = '../Data/pgn_mentor_sample.pgn'
basic_move_data = MoveData(basic_pgn_path)
basic_moves_dict = move_data.to_dict()

print(f"Moves extracted for {len(basic_moves_dict)} games")

# Display moves from first game
if len(basic_moves_dict) > 0:
    print("\nSample moves from Game 1:")
    first_game_moves = basic_move_data.get_game_moves(1)
    display(first_game_moves)

Moves extracted for 1 games

Sample moves from Game 1:

,white_move,white_time,white_eval,black_move,black_time,black_eval
move_number,,,,,,
1,e4,NaN,NaN,e5,NaN,NaN
2,Nf3,NaN,NaN,f5,NaN,NaN
3,Nxe5,NaN,NaN,Qf6,NaN,NaN
4,d4,NaN,NaN,d6,NaN,NaN
5,Nc4,NaN,NaN,fxe4,NaN,NaN
6,Nc3,NaN,NaN,Ne7,NaN,NaN
7,d5,NaN,NaN,Qg6,NaN,NaN
8,h3,NaN,NaN,h5,NaN,NaN
9,Bf4,NaN,NaN,Bf5,NaN,NaN
10,Qd4,NaN,NaN,a6,NaN,NaN
11,a4,NaN,NaN,Nd7,NaN,NaN
12,O-O-O,NaN,NaN,Nf6,NaN,NaN
13,Bxd6,NaN,NaN,cxd6,NaN,NaN
14,Nxd6+,NaN,NaN,Kd7,NaN,NaN
15,Nxb7,NaN,NaN,Nc8,NaN,NaN
16,d6,NaN,NaN,Ke8,NaN,NaN
17,Qe5+,NaN,NaN,Kd7,NaN,NaN
18,Bb5+,NaN,NaN,axb5,NaN,NaN
19,Qxb5+,NaN,NaN,Ke6,NaN,NaN
20,Nd8#,NaN,NaN,NaN,NaN,NaN